<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <!-- main-layout.ejs -->
<li><a href="/users/login">Login</a></li>
<li><a href="/users/signup">Signup</a></li>
<li><a href="/phones/new">Create a new Phone</a></li>
<li><a href="#">Profile</a></li>
    <p>Welcome to <%= title %></p>
  </body>
</html>
